@(tasks: List[Task], taskForm: Form[String])(implicit messages: Messages)

@import helper._

@main("Todo List") {

<div class="container-fluid bg-1">
    <h1>@tasks.size task(s)</h1>
    <table id="tasks" class="table table-striped table-bordered" cellspacing="0" width="70%">
        <thead>
        <tr>
            <th>Detail</th>
            <th>Complete</th>
        </tr>
        </thead>
        @tasks.map { task =>
        <tr>
            <td>@task.body</td>
            <td>
                <input type="checkbox" value=@task.is_complete>
            </td>
        </tr>
        }
    </table>

    <h2>Add a new task</h2>
</div>
<div class="container-fluid bg-2">
    <form method="POST" action="/tasks">
        <div class="form-group">
            <label for="body">Task detail</label>
            <input type="text" name="body" class="form-control" id="body">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
}
